body {
    background-color: rgb(18, 22, 90);
  }
  
  h1 {
    color: rgb(28, 34, 150);
    text-align: center;
    text-decoration: underline;
  }

  p {
    color: rgb(36, 32, 105);
    font-weight: bold;
  }

  .label {
    color: rgb(36, 32, 105);
    font-weight: bold;
  }

  .input {
    background-color: #eeffff;
    border-radius: 4px;
    width: 100%;
    padding: 5px;
  }
  
  .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(58, 160, 243);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .styled:hover {
    background-color: rgb(19, 141, 90);
  }
  
  .styled:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

  .delete {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(239, 15, 15);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .delete:hover {
    background-color: rgb(141, 78, 19);
  }
  
  .delete:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

  #memeContainer {
    margin-top: 20px;
    position: relative;
    text-align: center;
  }

  #memeImageContainer {
    position: relative;
    text-align: center;
  }
  
  #topTextOverlay {
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    text-shadow: 3px 3px 5px #000000;
    font-size: 50px;
    top: 25px;
    right: 10px;
    left: 10px;
  }

  #bottomTextOverlay {
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    text-shadow: 3px 3px 5px #000000;
    font-size: 50px;
    bottom: 30px;
    right: 10px;
    left: 10px;
  }

  #storedMemes {
    margin-top: 30px;
  }
  
  .memeContainer {
    position: relative;
    width: 100%;
    text-align: center;
  }
  
  .storedTextOverlay {
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    text-shadow: 3px 3px 5px #000000;
    font-size: 50px;
  }
  
  .storedTextOverlay.top {
    top: 25px;
  }
  
  .storedTextOverlay.bottom {
    bottom: 75px;
  }
  